@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: lightblue;
}

.box-list {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
 
}
input, button {
  border: none;

 
  
}
li {
  list-style: none;
  background-color: lightcyan;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
  
}
ul {
  padding: 20px 0;
}
 button {
  margin-left: 5px;
 }

input, li {
  width: 100%;
  height: 40px;

 
}
.aviso {
  color: red;
  font-size: 20px;
}
#tarefa:focus {
  color: red;
}

.add-tarefa {
  height: 40px;
  width: 40px;
  
  font-size: 20px;
  
  background-color: white;
  
}
.box-new-tarefa {
  display: flex;
  align-items: center;
  
}