@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: lightblue;
}

.box-list {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}
input,
button {
  border: 1px solid lightgrey;
}
li {
  list-style: none;
  background-color: lightcyan;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2px;
}
ul {
  padding: 20px 0;
}
button {
  margin-left: 5px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tarefa,
li {
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
}

.aviso {
  color: red;
  font-size: 20px;
}
#tarefa:focus {
  color: red;
}

.add-tarefa {
  height: 40px;
  width: 40px;

  background-color: white;
}
.box-new-tarefa {
  display: flex;
  align-items: center;
}

.delete {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: red;
}
